body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchbar{
  margin: auto;
  width: 50%; 
  padding: 10px;
  text-align: center;
}

.result{
  height: 2.5rem;
  background-color: #dcdcdc;
  margin: .4rem 0px;
  
}
input[type=text] ,button{
  /* height: 2rem; */
  font-size: 1.3rem;
}

input[type=text] { 
  width: 22rem;
}

button{
  margin:1rem auto;
}